<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
    <style>
      body {
        background-color: #242424;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      table {
        width: auto;
      }
      table,
      thead,
      tr,
      th,
      tbody,
      td {
        color: white;
        border: 1px solid white;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th>Usuario</th>
          <th>Senha</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
        <tr>
          <th>{{usuario}}</th>
          <td>{{usuarios[usuario][0]}}</td>
          <td>{{usuarios[usuario][1]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
